ADMIN_PASSWORD = 
ADMIN2_PASSWORD = 
GLOBAL__PASSWORD =

DB_COMPLETE_URL =

MAIL_SERVER =
MAIL_PORT =
MAIL_USE_TLS =
MAIL_USE_SSL =
MAIL_USERNAME =
MAIL_PASSWORD =
MAIL_DEFAULT_SENDER =

SECRET_KEY =

CACHE_TYPE =
CACHE_DEFAULT_TIMEOUT =

HOST =
PORT =
