<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('main.static', filename='desktop.css')}}">
    <link rel="stylesheet" href="{{url_for('main.static', filename='mobile.css')}}" media="(min-width: 0px) and (max-width: 600px)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{url_for('main.static', filename='script.js')}}"></script>

    <title>{% block title %}Base{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('main.static', filename='logos/favicon.png')}}" type="image/x-icon">


    {% if light_theme %}
    <style>
        :root{
            --orange: rgb(255,124,32);
            --light-orange: rgb(255,153,80);

            --grey1: rgb(232, 232, 232);
            --grey2: rgb(206, 206, 206);
            --grey3: rgb(179, 179, 179);
            --grey4: rgb(151, 151, 151);

            --text-grey4: rgb(70, 70, 70);
            --text-grey1: rgb(45, 45, 45);

            --orange-gray1: rgb(214, 173, 144);
            --orange-gray2: rgb(254, 173, 114);

            --transparent-grey: rgba(70, 70, 70, 0.7);

            --white-text: rgb(70, 70, 70);

        }
        body{
            color: var(--text-grey4);
        }
    </style>
    {% endif %}

    {% block head %}

    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="header-left-section">
            <div class="header-bars">
                <i id="bars" class="fas fa-bars bars-icon"></i>
            </div>
            <h1 class="site_title">FantaCO</h1>
        </div>
        <div class="header-middle-section">
            <form action="{{ url_for('secondary.search')}}" class="search-bar-container" method="POST">
                <input class="search-bar" type="text" name="search-bar" placeholder="Cerca">
                <button class="search-button" type="submit">
                    <i class="fas fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="header-right-section">
            <a href="{{ url_for('main.home') }}" class="header-link {% if active_page == 'home' %}active{% endif %}">home</a>
            <a href="{{ url_for('main.market') }}" class="header-link {% if active_page == 'market' %}active{% endif %}">mercato</a>
            <a href="{{ url_for('main.team') }}" class="header-link {% if active_page == 'team' %}active{% endif %}">team</a>
            <a href="{{ url_for('main.tmt') }}" class="header-link {% if active_page == 'tmt' %}active{% endif %}">tmt</a>
        </div>

        <div class="page-choice">
            {% block choice %}
            <!-- div for choices, class choice-div !!! -->
            {% endblock %}
        </div>
    </header>

    <nav>
        <a class="nav-link" href="{{url_for('secondary.profile')}}">
            <i class="fas fa-user-cog"></i>
            Profilo
        </a>
        <a class="nav-link" href="#" onclick="swap_league()">
            <i class="fas fa-sync-alt"></i>
            {% if is_logged %} {{user.active_league}} {% else %} Lega {% endif %}
        </a>
        <a class="nav-link" href="{{url_for('secondary.create_article')}}">
            <i class="fas fa-pen-nib"></i>
            Articolo
        </a>

        {% if is_logged %}
        <a class="nav-link" href="{{ url_for('auth.logout') }}">
            <i class="fas fa-right-from-bracket"></i>
            Logout
        </a>
        {% else %}
        <a class="nav-link" href="{{ url_for('auth.login') }}">
            <i class="fas fa-right-to-bracket"></i>
            Login
        </a>
        {% endif %}
        {% if user and user.username == "admin" %}
        <a class="nav-link" href="{{ url_for('admin.index') }}">
            <i class="fas fa-key"></i>
            Admin
        </a>
        {% endif %}
    </nav>

    <div class="overlay leagues_overlay">
        <div class="popup leagues_popup">
            {% if is_logged %}
            <div class="popup-info">
                <p>Scegli la lega da attivare</p>
                <i id="popup-x" class="fas fa-x"></i>
            </div>
            <div class="runners-grid">
                <div class="runner-div  {% if user.active_league == 'global' %} active-league {% endif %}">
                    <form id="league-form" class="runner-div-upper" action="{{url_for('secondary.swap_league')}}" method="post">
                        <input type="hidden" name="league-name" value="global">
                        <p class="runner-info">Lega globale</p>
                    </form>
                </div>
                {% for league in leagues %}
                    {% if league == user.active_league %}
                        <div class="runner-div active-league">
                            <form id="league-form" class="runner-div-upper" action="{{url_for('secondary.swap_league')}}" method="post">
                                <input type="hidden" name="league-name" value="{{league}}">
                                <p class="runner-info">{{league}}</p>
                            </form>
                        </div>
                    {% else %}
                    <div class="runner-div">
                        <div class="runner-div-upper">
                            <form id="league-form" class="runner-middle-container" action="{{url_for('secondary.swap_league')}}" method="post">
                                <input type="hidden" name="league-name" value="{{league}}">
                                <p class="runner-info">{{league}}</p>
                            </form>
                            <form class="runner-div-lower-right sell leave-league-form" action="{{url_for('secondary.leave_league')}}" method="POST">
                                <input type="hidden" name="league-name" value="{{league}}">
                                <i class="fas fa-trash-can"></i>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                {%endfor%}
            </div>
            <div class="add-sell">
                <i class="fas fa-plus"></i>
                <a href="{{url_for('secondary.add_vs_create')}}"> &nbsp Crea o condividi lega</a>
            </div>
            {% else %}
            <div class="popup-info">
                <p>Effettua il login per vedere le tue leghe</p>
                <i id="popup-x" class="fas fa-x"></i>
            </div>
            {% endif %}

        </div>
    </div>

    <main>
        {% block content %}
        <!-- div for slides, put content in div with class main.slide -->
        {% endblock %}
        
    </main>

    <footer>
        <div class="f-div">
            footer left
        </div>
        <div class="f-div">
            footer center
        </div>
        <div class="f-div">
            footer right
        </div>
    </footer>
</body>
</html>
