{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block choice %}

    <div class="choice-div active">
        <button class="choice-button">Introduzione</button>
    </div>
    <div class="choice-div">
        <button class="choice-button">Articoli</button>
    </div>
    <div class="choice-div">
        <button class="choice-button">Regole</button>
    </div>

        {% endblock %}

        {% block content %}

        


        <div class="main-slider">   
        <div class="main-slides">

            <div class="main-slide"> <!-- Intro slide -->
            <div class="main-slide-header" style="justify-content: center;">
                <h1>Introduzione a FantaCO</h1>
            </div>
            <div class="content-div">
                <h2>Panoramica Generale</h2>
                <p>Questa pagina ti fornirà una panoramica generale del sito e delle sue funzionalità principali.</p>
                
                <h2>Navigazione</h2>
                <p>Puoi navigare tra le sezioni utilizzando i pulsanti sopra.</p>
                <p>Trovi maggiori informazioni sul funzionamento e sulla navigazione nella sezione "REGOLE"</p>

                <h2>Articoli e News</h2>
                <p>Gli utenti possono scrivere articoli e news riguardanti le gare future o passate.</p>
                <p>Questa è un'ottima opportunità per condividere le tue opinioni, analisi e previsioni con la comunità.</p>
                <p>Per scrivere un articolo, vai al link "Articoli" nel menu in alto a sinistra.</p>
                
                <h2>Informazioni sul Sito</h2>
                <p>Ho creato questo sito nel mio tempo libero.</p>
                <p>Nota bene che non sono un programmatore professionista.</p>
                
                <h2>Costo di Gestione</h2>
                <p>Il costo di gestione del sito è di circa 20 CHF al mese.</p>
                <p>Quindi qualsiasi piccolo aiuto sarebbe molto apprezzato.</p>
            </div>
                
                
                
            </div>

            <div class="main-slide"> <!-- Article slide -->
                <div class="main-slide-header" style="justify-content: center;">
                    <h1>Articoli e news</h1>
                </div>
                <div class="content-div">
                    <div class="runners-grid" id="sell-runner">
                        {% for article in articles %}
                        <div class="article-div">
                            <div class="article-div-upper">
                                <h3>{{article.title}}</h3>
                            </div>
                            <div class="article-div-info">
                                <div class="article-div-info-left">
                                    <p>Autore:</p><h4>{{article.author}}</h4>
                                </div>
                                <div class="article-div-info-right">
                                    <p>Creato:</p><h4>{{article.date}}</h4>
                                </div>
                            </div>
                            <div class="article-div-content">
                                <p>{{article.content.replace('\n', '<br>') | safe}}</p>
                            </div>
                            {% if article.author_username == user.username %}
                            <div class="article-div-lower">
                                <form class="article-div-lower-right delete-article-form sell" action="{{url_for('secondary.delete_article')}}" method="POST">
                                    <input type="hidden" name="article-id" value="{{article.id}}">
                                    <i class="fas fa-trash-can" type="submit> </i>
                                </form>
                            </div>
                            {% endif %}
                        </div>     
                        {%endfor%}
                    </div>
                </div>
            </div>

            <div class="main-slide"> <!-- Rules slide -->
                <div class="main-slide-header" style="justify-content: center;">
                    <h1>Regole e funzionamento</h1>
                </div>
                <div class="content-div">
                    <h2>Benvenuto nella sezione delle regole e del funzionamento di fantaCO</h2>
                    <p>Qui troverai tutte le informazioni necessarie per comprendere come utilizzare il sito e partecipare ai giochi.</p>

                    <h2>Funzionamento Generale</h2>
                    <p>Il sito è suddiviso in diverse sezioni principali:</p>
                    <ul>
                        <li><strong>Introduzione:</strong> Una panoramica generale del sito e delle sue funzionalità.</li>
                        <li><strong>Articoli:</strong> News e articoli scritti dagli utenti.</li>
                        <li><strong>Regole:</strong> Questa sezione, dove puoi trovare tutte le regole del gioco.</li>
                    </ul>

                    <h2>Le Leghe</h2>
                    <p>Su fantaCO, puoi partecipare a diverse leghe. Esistono due tipi di leghe:</p>
                    <ul>
                        <li><strong>Lega Globale:</strong> In questa lega, ogni utente può possedere qualsiasi corridore.</li>
                        <li><strong>Leghe Private:</strong> In queste leghe, solo un utente può possedere un determinato corridore.</li>
                    </ul>
                    <p>Le leghe private sono create dagli utenti e possono essere raggiunte solo tramite un link di invito.</p>

                    <h2>Creazione e Partecipazione alle Leghe Private</h2>
                    <p>Per creare una lega privata, segui questi passaggi:</p>
                    <ol>
                        <li>Accedi al tuo account.</li>
                        <li>Vai alla sezione "Crea Lega".</li>
                        <li>Compila i dettagli richiesti e genera il link di invito.</li>
                    </ol>
                    <p>Per partecipare a una lega privata, devi ricevere un link di invito dal creatore della lega.</p>
                    <p>Clicca sul link e segui le istruzioni per unirti alla lega.</p>

                    <h2>Generazione del Link di Invito</h2>
                    <p>Il link di invito viene generato automaticamente quando crei una lega privata.</p>
                    <p>Puoi condividere questo link con gli amici che desideri invitare alla tua lega.</p>

                    <h2>Acquisto dei Corridori</h2>
                    <p>Nella Lega Globale, puoi acquistare un corridore inserendo direttamente il prezzo di acquisto e premendo il pulsante +.</p>
                    <p>Nella Lega Privata, devi fare un'offerta e attendere che il tempo di permanenza del corridore sul mercato scada.</p>
                    <p>Fai attenzione, se l'offerta scompare significa che qualcuno ha fatto un'offerta maggiore.</p>

                    <h2>Buon divertimento su fantaCO!</h2>
                </div>
            </div>
    
        </div>
    </div>
{% endblock %}
