{% extends "base.html" %}


{% block title %}Market Page{% endblock %}


{% block choice %}

    <div class="choice-div active">
        <button class="choice-button">Compra</button>
    </div>
    <div class="choice-div">
        <button class="choice-button">Vendi</button>
    </div>
    <div class="choice-div">
        <button class="choice-button">Transazioni</button>
    </div>

{% endblock %}

{% block content %}

    


    <div class="main-slider">   
        <div class="main-slides">

            <div class="main-slide"> <!-- Buy slide -->
                <div class="main-slide-header">
                    <div class="price-div">
                        <p>Saldo del conto: {{balance}}</p>
                    </div>
                    <form id="filter" method="POST">
                        <input type="hidden" name="form_id" value="filter">
                        <p>Ordina per:</p>
                        <select name="filter" id="filters-dropdown">
                            <option value="">{{filter}}</option>
                            {% for filter in filters %}
                                <option value="{{filter}}" name="selected-filter">{{ filter }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Invia</button>
                    </form>
                </div>

                <div class="content-div">
                    <div class="runners-grid">
                        {% for runner in runners_database %}
                            {% if runner.seller != user.nickname %}
                                <div class="runner-div">
                                    <div class="runner-div-upper" onclick="window.location.href='/runner?runner={{runner.name}}' ">
                                        <div class="runner-image-container">
                                            <img class="runner-image" src="{{url_for('main.static', filename='logos/faceless-icon.jpg')}}" alt="faceless logo">
                                        </div>
                                        <div class="runner-middle-container">
                                            <div class="runner-middle-upper">
                                                <p class="runner-info">{{runner.name}}</p>
                                                <div class="runner-info-container">
                                                    <p class="runner-description">Cateogoria</p>
                                                    <p class="runner-info">{{runner.category}}</p>
                                                </div>
                                            
                                            </div>
                                            <div class="runner-middle-lower">
                                                <div class="runner-info-container">
                                                    <p class="runner-info">{{runner.points}}</p>
                                                    <p class="runner-description">Punti</p>
                                                </div>
                                                <div class="runner-info-container">
                                                    <p class="runner-info">{{runner.average_points}}</p>
                                                    <p class="runner-description">&Oslash;Punti</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="runner-right-container">
                                            <div class="runner-image-container society">
                                                <img class="runner-image society" src="{{ url_for('main.static', filename='society/' ~ runner['society'] ~ '.png') }}" alt="{{runner.society}}">
                                            </div>
                                            <p class="runner-info">{{format_number(runner.price)}}</p>
                                        </div>
                                    </div>
                                    <form class="runner-div-lower" action="" method="post">
                                        <input type="hidden" name="form_id" value="{% if runner.buyer == user.username %}remove_runner_offer{% else %}add_runner_offer{% endif %}">
                                        <input type="hidden" name="runner_name" value="{{runner.name}}">
                                        <input type="hidden" name="min_price" value="{{runner.price}}"> 
                                        <input type="hidden" name="is_from_market" value="{{runner.is_from_market}}">                                       
                                        <div class="runner-div-lower-left">
                                            <i class="fas fa-clock"></i>
                                            <p>{% if runner.timestamp == 'none' %}<i class="fas fa-infinity"></i>{% else %}{{runner.timestamp}}{% endif %}</p>
                                            <input class="value_input" type="text" name="offer_amount" placeholder="Offerta a {{runner.seller}}">
                                            <p>
                                                {% if runner.buyer == user.username %}
                                                {{format_number(runner.offer)}}
                                                {%endif%}
                                            </p>
                                        </div>
                                        {% if runner.buyer == user.username %}
                                        <button class="runner-div-lower-right sell" type="submit">
                                            <i class="fas fa-x"></i>
                                        </button>
                                        {% else %}
                                        <button class="runner-div-lower-right" type="submit">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            {% endif %}
                        {%endfor%}
                    </div>
                </div>


                
            </div>

            <div class="main-slide"> <!-- Sell slide -->
                <div class="main-slide-header">
                    <div class="price-div">
                        <p>Saldo del conto: {{balance}}</p>
                    </div>
                </div>
                <div class="content-div">
                    <div class="runners-grid" id="sell-runner">
                        {% for runner in selling_runners %}
                        <div class="runner-div">
                            <div class="runner-div-upper" onclick="window.location.href='/runner?runner={{runner.name}}' ">
                                <div class="runner-image-container">
                                    <img class="runner-image" src="{{url_for('main.static', filename='logos/faceless-icon.jpg')}}" alt="faceless logo">
                                </div>
                                <div class="runner-middle-container">
                                    <div class="runner-middle-upper">
                                        <p class="runner-info">{{runner.name}}</p>
                                        <div class="runner-info-container">
                                            <p class="runner-description">Cateogoria</p>
                                            <p class="runner-info">{{runner.category}}</p>
                                        </div>
                                    
                                    </div>
                                    <div class="runner-middle-lower">
                                        <div class="runner-info-container">
                                            <p class="runner-info">{{runner.points}}</p>
                                            <p class="runner-description">Punti</p>
                                        </div>
                                        <div class="runner-info-container">
                                            <p class="runner-info">{{runner.average_points}}</p>
                                            <p class="runner-description">&Oslash;Punti</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="runner-right-container">
                                    <div class="runner-image-container society">
                                        <img class="runner-image society" src="{{ url_for('main.static', filename='society/' ~ runner['society'] ~ '.png') }}" alt="{{runner.society}}">
                                    </div>
                                    <p class="runner-info">{{format_number(runner.price)}}</p>
                                </div>
                            </div>
                            <form class="runner-div-lower" action="" method="post">
                                <input type="hidden" name="form_id" value="remove_sell_runner">
                                <input type="hidden" name="runner_name" value="{{runner.name}}">
                                <input class="runner-price" type="hidden" name="runner_price" value="{{format_number(runner.price)}}">                                        
                                <div class="runner-div-lower-left">
                                    <i class="fas fa-clock"></i>
                                    <p><i class="fas fa-infinity"></i></p>
                                    <input class="value_input" type="text" placeholder="Prezzo di vendita">
                                    <p>{{format_number(runner.offer)}}</p>
                                </div>
                                <button class="runner-div-lower-right sell" type="submit">
                                    <i class="fas fa-x"></i>
                                </button>
                            </form> 
                        </div>
                        {% if runner.buyer %}
                        <form class="runner-div-lower" action="" method="post">
                            <input type="hidden" name="form_id" value="accept_sell_offer">
                            <input type="hidden" name="buyer_username" value="{{runner.buyer}}">
                            <input type="hidden" name="runner_name" value="{{runner.name}}">
                            <input type="hidden" name="offer" value="{{runner.offer}}">                                      
                            <div class="runner-div-lower-left">
                                <i class="fas fa-clock"></i>
                                <p><i class="fas fa-infinity"></i></p>
                                <input class="offer" type="text" placeholder="Offerta di {{runner.buyer_nickname}}">
                                <p>{{format_number(runner.offer)}}</p>
                            </div>
                            <button class="runner-div-lower-right check" type="submit">
                                <i class="fas fa-check"></i>
                            </button>
                        </form>    
                        {% endif %}
                        <form class="runner-div-lower" action="" method="post">
                            <input type="hidden" name="form_id" value="accept_sell_offer">
                            <input type="hidden" name="buyer_username" value="FantaCO">
                            <input type="hidden" name="runner_name" value="{{runner.name}}">
                            <input type="hidden" name="offer" value="{{runner.price}}">                                      
                            <div class="runner-div-lower-left">
                                <i class="fas fa-clock"></i>
                                <p><i class="fas fa-infinity"></i></p>
                                <input class="offer" type="text" placeholder="Offerta di FantaCO">
                                <p>{{format_number(runner.price)}}</p>
                            </div>
                            <button class="runner-div-lower-right check" type="submit">
                                <i class="fas fa-check"></i>
                            </button>
                        </form>            
                        {%endfor%}
                        <div class="add-sell" onclick="show_sell_popup()">
                            <i class="fas fa-plus"></i>
                            <p> &nbsp Vendere un giocatore</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-slide"> <!-- Transactions slide -->
                
                <div class="main-slide-header">
                    <div class="price-div">
                        <p>Tutte le transazioni di mercato nella lega {{active_league}}</p>
                    </div>
                </div>

                <div class="content-div">
                    <div class="runners-grid">
                        {% if active_league == "global"%}
                        <div class="runner-div">
                            <div class="runner-div-upper" style="height: 10hv;">
                                <p class="runner-info">Storico delle transazioni non disponibile in lega globale</p>
                            </div>
                        </div>
                        {% else %}
                            {% for transaction in transactions %}
                                {% if transaction.buyer == "FantaCO" %}
                                <div class="runner-div">
                                    <div class="runner-div-upper" style="height: 10hv;">
                                        <p class="runner-info">{{transaction.seller}} vende {{transaction.runner}} a {{transaction.buyer}} per {{format_number(transaction.amount)}}</p>
                                    </div>
                                </div>
                                {% else %}
                                <div class="runner-div">
                                    <div class="runner-div-upper" style="height: 10hv;">
                                        <p class="runner-info">{{transaction.buyer}} compra {{transaction.runner}} da {{transaction.seller}} per {{format_number(transaction.amount)}}</p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <div class="overlay sell-overlay">
        <div class="popup sell-popup">
            <div class="popup-info">
                <p>Scegli il corridore da vendere</p>
                <i id="popup-x" class="fas fa-x"></i>
            </div>
            <div class="runners-grid"></div>
                {% for runner in sellable_runners %}
                    {% if not runner.selling %}
                    <div id="sell-div" class="runner-div">
                        <div class="runner-div-upper">
                            <div class="runner-image-container">
                                <img class="runner-image" src="{{url_for('main.static', filename='logos/faceless-icon.jpg')}}" alt="faceless logo">
                            </div>
                            <div class="runner-middle-container">
                                <div class="runner-middle-upper">
                                    <p class="runner-info">{{runner.name}}</p>
                                    <div class="runner-info-container">
                                        <p class="runner-description">Cateogoria</p>
                                        <p class="runner-info">{{runner.category}}</p>
                                    </div>
                                
                                </div>
                                <div class="runner-middle-lower">
                                    <div class="runner-info-container">
                                        <p class="runner-info">{{runner.points}}</p>
                                        <p class="runner-description">Punti</p>
                                    </div>
                                    <div class="runner-info-container">
                                        <p class="runner-info">{{runner.average_points}}</p>
                                        <p class="runner-description">&Oslash;Punti</p>
                                    </div>
                                </div>
                            </div>
                            <div class="runner-right-container">
                                <div class="runner-image-container society">
                                    <img class="runner-image society" src="{{ url_for('main.static', filename='society/' ~ runner['society'] ~ '.png') }}" alt="{{runner.society}}">
                                </div>
                                <p class="runner-info">{{format_number(runner.price)}}</p>
                            </div>
                        </div>
                        <form class="runner-div-lower" action="{{url_for('main.sell_runner')}}" method="post">
                            <input type="hidden" name="runner-name" value="{{runner.name}}">
                            <div class="runner-div-lower-left">
                                <input class="offer" type="text" placeholder="Scegli prezzo" name="runner-price" value="{{runner.price}}">
                            </div>
                            <button class="runner-div-lower-right check" type="submit">
                                <i class="fas fa-check"></i>
                            </button>
                        </form>  
                    </div>
                    {% endif %}
                {%endfor%}
            </div>
    </div>
{% endblock %}