{% extends "base.html" %}

{% block title %}Runner Info{% endblock %}

{% block content %}
<div class="orunner-div">
    <div class="orunner-upper">
    </div>
    <div class="orunner-middle">
        <div class="orunner-info-container">
            <p class="orunner-info"></p>
            <p class="orunner-description">Punti</p>
        </div>
        <div class="orunner-info-container">
            <p class="orunner-info"></p>
            <p class="orunner-description">&Oslash;Punti</p>
        </div>
        <div class="orunner-info-container">
            <p class="orunner-info"></p>
            <p class="orunner-description">Valore di mercato</p>
        </div>
    </div>
    <div class="orunner-lower">

    </div>
</div>

<div class="orunner-background">
    <img class="orunner-society-image" src="{{ url_for('main.static', filename='society/' ~ runner['society'] ~ '.png') }}" alt="{{runner.society}}" alt="società">
</div>
{% endblock %}
