{% extends "base.html" %}


{% block title %}Market Page{% endblock %}


{% block choice %}

    <div class="choice-div active">
        <button class="choice-button">Classifica lega</button>
    </div>


{% endblock %}

{% block content %}
    <div class="main-slider">   
        <div class="main-slides">

            <div class="main-slide">
                <div class="main-slide-header">
                    <div class="price-div">
                        <p>Miglior team:</p>
                    </div>
                </div>

                <div class="content-div">
                    <div class="runners-grid">
                    </div>
                </div>
        </div>
    </div>
{% endblock %}