{% extends "base.html" %}


{% block title %}Market Page{% endblock %}


{% block choice %}

    <div class="choice-div active">
        <button class="choice-button">Classifica lega</button>
    </div>


{% endblock %}

{% block content %}
    <div class="main-slider">   
        <div class="main-slides">

            <div class="main-slide">
                <div class="main-slide-header">
                    <div class="price-div">
                        <p>Miglior team:</p>
                    </div>
                </div>

                <div class="content-div">
                    <div class="runners-grid">
                        {% for data in classement_data %}
                        <div class="runner-div" onclick="window.location.href='/user?username={{data.username}}&position={{data.position}}&team_value={{data.team_value}}' ">
                            <div class="runner-div-upper">
                                <div class="runner-info-container" style="width: fit-content;">
                                    <p class="runner-info">{{data.position}}.</p>
                                </div>
                                <div class="runner-image-container">
                                    <img class="runner-image" src="{{url_for('main.static', filename='logos/faceless-icon.jpg')}}" alt="faceless logo">
                                </div>
                                <div class="runner-middle-container">
                                    <div class="runner-middle-upper">
                                        <div class="runner-info-container">
                                            <p class="runner-info">{{data.nickname}}</p>
                                        </div>
                                        <div class="runner-info-container">
                                            <p class="runner-info">{{data.points}}</p>
                                            <p class="runner-description">Punti</p>
                                        </div>
                                        <div class="runner-info-container">
                                            <p class="runner-info">{{format_number(data.team_value)}}</p>
                                            <p class="runner-description">Valore del team</p>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}