:root {
    --orange: rgb(255, 124, 32);
    --light-orange: rgb(255, 153, 80);

    --grey1: rgb(161, 161, 161);
    --grey2: rgb(127, 127, 127);
    --grey3: rgb(95, 95, 95);
    --grey4: rgb(70, 70, 70);

    --text-grey4: rgb(70, 70, 70);
    --text-grey1: rgb(161, 161, 161);

    --orange-gray1: rgb(181, 128, 90);
    --orange-gray2: rgb(201, 118, 58);

    --transparent-grey: rgba(70, 70, 70, 0.7);

    --white-text: rgb(255, 255, 255);

    --base-font-size: 1rem;
    --header-height: 4rem;
    --page-choice-height: 3.125rem;
    --main-margin-top: 7.5rem;
    --main-margin-bottom: 1.875rem;
    --main-slider-width: 75vw;
    --main-slide-header-height: 11vh;
    --runner-div-padding: 3vmin;
    --runner-image-size: 20vmin;
    --runner-info-font-size: 4vmin;
    --runner-description-font-size: 2.5vmin;
    --lineup-selection-button-font-size: 3vmin;
    --popup-width: 75vw;
    --popup-padding: 1.25rem;
    --popup-info-font-size: 4vmin;
    --add-sell-font-size: 3vmin;
    --article-div-padding: 3vmin;
    --article-div-lower-height: 6vh;
    --orunner-div-height: 75vh;
    --orunner-image-size: 30vh;
    --orunner-info-font-size: 3vmin;
    --orunner-description-font-size: 2vmin;
    --point-graph-width: 1vw;
    --orunner-border-radius: 0%;
    --runner-image-border-radius: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--grey3);
    color: var(--grey4);
    height: auto;
    font-size: var(--base-font-size);
}

body.no-scroll {
    overflow: hidden;
}

main {
    display: flex;
    margin-top: var(--main-margin-top);
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--main-margin-bottom);
}

h1 {
    display: inline-block;
    margin-left: 1.25rem;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

button {
    border-style: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: var(--header-height);
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--orange);
    z-index: 1;
}

.header-left-section {
    margin-left: 1.25rem;
    display: flex;
    align-items: center;
}

.header-bars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    height: 0.875rem;
}

.bars-icon {
    font-size: 1.875rem;
    transition-duration: 1s;
}

.header-middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 18.75rem;
    min-width: 6.25rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: fit-content;
    font-size: 1rem;
    padding: 0.1875rem 0.625rem;
    box-sizing: content-box;
    background-color: white;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    border-style: hidden;
    height: 2.125rem;
    padding: 0;
    transition: 0.15s;
}

.search-bar:focus {
    border-style: hidden;
    outline: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
    font-size: 1.25rem;
    transition: 0.15s;
    color: var(--grey4);
}

.search-button:hover {
    color: var(--orange);
}

.header-right-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-shrink: 0;
    text-align: center;
    padding-right: 0.625rem;
}

.header-link {
    line-height: 2.5rem;
    flex: 1;
    text-align: center;
    background-color: white;
    margin: 0 0.3125rem;
    color: var(--text-grey4);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0.625rem;
    transition-duration: 0.15s;
    border-radius: 0;
}

.header-link:hover {
    background-color: white;
    color: rgb(252, 92, 4);
    transition-duration: 0.2s;
}

.header-link:active {
    background-color: white;
    color: rgb(252, 92, 4);
}

nav {
    display: none;
    z-index: 1;
}

nav.active {
    padding: 0.625rem;
    padding-bottom: 0;
    display: grid;
    background-color: var(--orange);
    position: fixed;
    top: var(--header-height);
    left: 0;
    border-bottom-right-radius: 0.625rem;
}

.nav-link {
    padding: 0.625rem;
    color: var(--white-text);
    background-color: var(--light-orange);
    text-decoration: none;
    border-radius: 0.3125rem;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
}

.nav-link:hover {
    text-decoration: underline;
    transition-duration: 0.15s;
}

.page-choice {
    height: var(--page-choice-height);
    width: 100%;
    position: fixed;
    top: var(--header-height);
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grey4);
}

.choice-div {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0 0 0.3125rem 0;
    border-color: var(--grey4);
}

.choice-div.active {
    border-color: var(--orange);
}

.choice-div.active button {
    color: var(--white-text);
}

.choice-div button {
    background-color: var(--grey4);
    border-style: none;
    color: var(--text-grey1);
    text-transform: uppercase;
    font-size: large;
}

.main-slider {
    display: flex;
    width: var(--main-slider-width);
    overflow: hidden;
    justify-content: start;
    align-items: center;
}

.main-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(var(--main-slider-width) * 3);
    height: auto;
}

.main-slide {
    width: var(--main-slider-width);
    height: auto;
    flex-shrink: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    height: auto;
    flex-direction: column;
    overflow: none;
}

.main-slide-header {
    padding: 0.625rem;
    height: var(--main-slide-header-height);
    width: var(--main-slider-width);
    box-sizing: border-box;
    background-color: var(--grey2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3vmin;
    gap: 1.25rem;
}

.filter-form {
    display: flex;
    width: 100%;
}

.content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: var(--main-slider-width);
    height: auto;
    box-sizing: border-box;
    background-color: var(--grey2);
    border-radius: 3vmin;
    padding: 1.25rem;
    margin-top: 1.25rem;
}

.runners-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    box-sizing: border-box;
}

.runner-div {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--orange-gray1);
    border-radius: 3vmin;
    width: 100%;
    box-sizing: border-box;
}

.runner-div-upper {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--runner-div-padding);
    box-sizing: border-box;
    gap: 5vh;
}

.runner-div-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--runner-div-padding);
    padding-top: 0;
    width: 100%;
    height: var(--main-slide-header-height);
    box-sizing: border-box;
    gap: 2vw;
}

.runner-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: var(--runner-image-size);
    aspect-ratio: 1/1;
}

.runner-middle-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: 100%;
    flex: 1;
}

.runner-right-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.runner-div-lower-left {
    display: flex;
    align-items: center;
    gap: 1vh;
    background-color: white;
    padding: 1vh;
    border-radius: 1vmin;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    font-size: var(--runner-info-font-size);
}

.runner-div-lower-left input {
    border-style: hidden;
    display: flex;
    flex: 1;
    font-size: var(--runner-info-font-size);
}

.runner-div-lower-left input:focus {
    border-style: hidden;
    outline: none;
}

.runner-div-lower-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 100%;
    background-color: var(--orange);
    border-radius: 1vmin;
}

.runner-div-lower-right i {
    font-size: var(--runner-info-font-size);
    color: white;
}

.sell {
    background-color: red;
}

.check {
    background-color: green;
}

.runner-middle-upper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.runner-middle-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2vw;
}

.runner-image {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0;
    object-fit: cover;
    border-radius: var(--runner-image-border-radius);
}

.runner-image.society {
    height: 80%;
    border-radius: 0;
    object-fit: contain;
}

.runner-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.runner-info {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 5vh;
    font-size: var(--runner-info-font-size);
    width: 100%;
}

.runner-description {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 3vh;
    font-size: var(--runner-description-font-size);
    width: 100%;
}

.lineup-selection-button {
    height: 100%;
    padding: 0;
    margin: 0;
    flex: 1;
    text-align: center;
    background-color: var(--grey2);
    color: var(--white-text);
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.3s;
    border-radius: 0.9375rem;
    border-width: 0;
    font-size: var(--lineup-selection-button-font-size);
}

.lineup-selection-button:hover {
    background-color: var(--grey3);
}

.lineup-selection-button.active {
    background-color: var(--grey3);
    color: var(--orange);
}

.lineup-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.lineup-slider {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: calc(var(--main-slider-width) * 3);
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.lineup-slide {
    margin-top: 1.25rem;
    width: var(--main-slider-width);
    display: flex;
    justify-content: center;
    row-gap: 0.625rem;
    background-color: var(--grey2);
    padding: 1.25rem;
    border-radius: 1.25rem;
    height: auto;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-grey);
    z-index: -100;
    opacity: 0;
    overflow: scroll;
}

.overlay.active {
    z-index: 100;
    opacity: 1;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey2);
    width: var(--popup-width);
    height: auto;
    padding: var(--popup-padding);
    gap: 0.625rem;
    z-index: -100;
    opacity: 0;
    padding: var(--popup-padding);
    padding-top: 0;
    border-radius: 1.25rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.popup.active {
    z-index: 100;
    opacity: 1;
}

.popup div.runner-div:hover {
    background-color: var(--orange-gray2);
}

.popup form.runner-div:hover {
    background-color: var(--orange-gray2);
}

.popup-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    font-size: var(--popup-info-font-size);
}

#popup-x {
    transition: 0.15s;
}

#popup-x:hover {
    color: var(--orange);
}

.add-sell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: var(--orange);
    font-size: var(--add-sell-font-size);
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: var(--grey3);
    width: 50%;
    box-sizing: border-box;
}

.add-sell i {
    font-size: var(--add-sell-font-size);
}

.add-sell a {
    color: var(--orange);
    font-size: var(--add-sell-font-size);
    text-decoration: none;
}

.trash-button {
    width: 100%;
    height: 100%;
}

.active-league {
    border-style: solid;
    border-width: 1vmin;
    border-color: var(--orange);
}

.article-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: var(--orange-gray1);
    border-radius: 3vmin;
    padding: var(--article-div-padding);
    box-sizing: border-box;
    gap: 1vh;
}

.article-div-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--article-div-padding);
    box-sizing: border-box;
}

.article-div-info-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.article-div-info-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.article-div-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: var(--article-div-padding);
    box-sizing: border-box;
    background-color: var(--grey1);
    border-radius: 2vmin;
}

.article-div-lower {
    display: flex;
    align-items: center;
    justify-content: end;
    height: var(--article-div-lower-height);
    width: 100%;
    top: 2vh;
}

.article-div-lower-right {
    height: 100%;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    color: white;
    border-radius: 1vmin;
}

.orunner-div {
    display: flex;
    flex-direction: row;
    width: var(--main-slider-width);
    height: var(--orunner-div-height);
    background-color: var(--grey2);
    border-radius: 3vmin;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    box-sizing: border-box;
}

.orunner-upper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    width: 50%;
}

.orunner-lower {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    background-color: var(--grey3);
    border-radius: 1vh;
    padding: 0;
    box-sizing: border-box;
}

.orunner-upper-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.orunner-upper-society-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orunner-upper-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0.625rem;
    box-sizing: border-box;
}

.orunner-society-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0.2;
}

.small {
    width: 20%;
    opacity: 1;
    margin-bottom: 2vh;
}

.orunner-image {
    height: var(--orunner-image-size);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--orunner-border-radius);
    margin-top: 3vh;
}

.orunner-lower-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background-color: var(--grey4);
    color: var(--grey1);
    border-radius: 1vh 1vh 0 0;
}

.orunner-info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.orunner-info {
    font-size: var(--orunner-info-font-size);
}

.orunner-description {
    font-size: var(--orunner-description-font-size);
    color: var(--grey3);
}

.orunner-points-display {
    max-width: 100%;
    height: 23vh;
    overflow-x: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--grey4);
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: start;
    direction: rtl;
    position: relative;
}

.points-display-scroll {
    display: inline-block;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1vw;
    background-color: var(--grey4);
    color: var(--grey1);
    direction: ltr;
}

.points-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-size: 3vmin;
    justify-content: end;
    gap: 1vh;
}

.point-graph {
    display: flex;
    flex-direction: column;
    width: var(--point-graph-width);
    border-radius: 0.5vw;
    flex: 0.1;
    background-color: var(--grey1);
}


