:root{
    --orange: rgb(255,124,32);
    --light-orange: rgb(255,153,80);

    --grey1: rgb(161, 161, 161);
    --grey2: rgb(127, 127, 127);
    --grey3: rgb(95, 95, 95);
    --grey4: rgb(70, 70, 70);

    --text-grey4: rgb(70, 70, 70);
    --text-grey1: rgb(161, 161, 161);

    --orange-gray1: rgb(181, 128, 90);
    --orange-gray2: rgb(201, 118, 58);

    --transparent-grey: rgba(70, 70, 70, 0.7);

    --white-text: rgb(255,255,255);

}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px;
    background-color: var(--grey3);
    color: var(--grey4);
    height: auto;
}
body.no-scroll{
    overflow: hidden;
}

main{
    display: flex;
    margin-top: 120px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

h1{
    display: inline-block;
    margin-left: 20px;

}

p {
    margin: 0px;
}

button {
    border-style: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 64px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--orange);
    z-index: +1;
}

.header-left-section{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header-bars{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 14px;
    
}

.bars-icon{
    font-size: 30px;
    transition-duration: 1s;
}

.header-middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 300px;
    min-width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.search-bar{
    flex: 1;
    width: 0px;
    height: 25px;
    font-size: 16px;
}

.header-right-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-shrink: 0;
    text-align: center;
    padding-right: 10px;
}

.header-link{
    line-height: 40px;
    flex: 1;
    text-align: center;
    background-color: white;
    margin: 0px 5px 0px 5px;
    color: var(--text-grey4);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px;
    transition-duration: 0.15s;
    border-radius: 0px;
}
.header-link:hover{
    background-color: white;
    color: rgb(252,92,4);
    /* box-shadow: 5px 5px rgb(185, 65, 0); */
    transition-duration: 0.2s;
}
.header-link:active{
    background-color: white;
    color: rgb(252,92,4);
}

nav{
    display: none;
    z-index: +1;
}
nav.active{
    padding: 10px;
    padding-bottom: 0px;
    display: grid;
    background-color: var(--orange);
    position: fixed;
    top: 64px;
    left: 0px;
    border-bottom-right-radius: 10px;
}

.nav-link{
    padding: 10px;
    color: var(--white-text);
    background-color: var(--light-orange);
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.nav-link:hover{
    text-decoration: underline;
    transition-duration: 0.15s;
}

.page-choice{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 64px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grey4);
}

.choice-div{
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: var(--grey4);
    
}
.choice-div.active{
    border-color: var(--orange);
}
.choice-div.active button{
    color: var(--white-text);
}

.choice-div button{
    background-color: var(--grey4);
    border-style: none;
    color: var(--text-grey1);
    text-transform: uppercase;
    font-size: large;
}


.main-slider{
    display: flex;
    width: 75vw;
    overflow: hidden;
    justify-content: start;
    align-items: center;
}

.main-slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(75vw * 3);
    height: auto;
}

.main-slide {
    width: 75vw;
    height: auto;
    flex-shrink: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    height: auto;
    flex-direction: column;
    overflow: none;
}

.main-slide-header{
    padding: 10px;
    height: 11vh;
    width: 75vw;
    box-sizing: border-box;
    background-color: var(--grey2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
}

.filter-form{
    display: flex;
    width: 100%;
}

.content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 75vw;
    height: auto;
    box-sizing: border-box;
    background-color: var(--grey2);
    border-radius: 6vmin;
    padding: 20px;
    margin-top: 20px;
}













.runners-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.runner-div{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--orange-gray1);
    border-radius: 3vmin;
    width: 100%;
    box-sizing: border-box;
}

.runner-div-upper{
    display: flex;
    flex-direction: row;
    height: 22vmin;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3vmin;
    box-sizing: border-box;
    gap: 10vh;
}

.runner-div-lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3vmin;
    padding-top: 0px;
    width: 100%;
    height: 11vh;
    box-sizing: border-box;
    gap: 2vw;
}

.runner-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    aspect-ratio: 1/1;
}

.runner-middle-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: 100%;
    flex: 1;
}

.runner-right-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.runner-div-lower-left{
    display: flex;
    align-items: center;
    gap: 1vh;
    background-color: white;
    padding: 1vh;
    border-radius: 1vmin;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    font-size: 3vh;
}
.runner-div-lower-left input{
    border-style: hidden;
    display: flex;
    flex: 1;
    font-size: 3vh;
}
.runner-div-lower-left input:focus{
    border-style: hidden;
    outline: none;
}

.runner-div-lower-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 100%;
    background-color: var(--orange);
    border-radius: 1vmin;
}
.runner-div-lower-right i{
    font-size: 4vh;
    color: white;
}

.sell{
    background-color: red;
}
.check{
    background-color: green;
}

.runner-middle-upper{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    flex: 1;
}

.runner-image{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0px;
    object-fit: cover;
    border-radius: 50%;
}
.runner-image.society{
    height: 805;
    border-radius: 0px;
    object-fit: contain;
}

.runner-info{
    height: 5vh;
    font-size: 4vh;
    width: 100%;
}














.lineup-selection-button{
    height: 100%;
    padding: 0px;
    margin: 0px;
    flex: 1;
    text-align: center;
    background-color: var(--grey2);
    color: var(--white-text);
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.3s;
    border-radius: 15px;
    border-width: 0px;
    font-size: 3vh;
}
.lineup-selection-button:hover{
    background-color: var(--grey3);
}
.lineup-selection-button.active{
    background-color: var(--grey3);
    color: var(--orange);
}

.lineup-container{
    display: flex;
    align-items:  center;
    justify-content: start;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.lineup-slider{
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: calc(75vw * 3);
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.lineup-slide{
    margin-top: 20px;
    width: 75vw;
    display: flex;
    justify-content: center;
    row-gap: 10px;
    background-color: var(--grey2);
    padding: 20px;
    border-radius: 20px;
    height: auto;
}











.overlay{
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-grey);
    z-index: -100;
    opacity: 0;
    overflow: scroll;
}
.overlay.active{
    z-index: 100;
    opacity: 1;
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey2);
    width: 75vw;
    height: auto;
    padding: 20px;
    gap: 10px;
    z-index: -100;
    opacity: 0;
    padding: 20px;
    padding-top: 0px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.popup.active{
    z-index: 100;
    opacity: 1;
}
.popup div.runner-div:hover{
    background-color: var(--orange-gray2);
}
.popup form.runner-div:hover{
    background-color: var(--orange-gray2);
}

.popup-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    font-size: 4vh;
}

#popup-x{
    transition: 0.15s;
}
#popup-x:hover{
    color: var(--orange);
}



.add-sell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    color: var(--orange);
    font-size: 3vh;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--grey3);
    width: 50%;
    box-sizing: border-box;
}
.add-sell i{
    font-size: 3vh;
}
.add-sell a{
    color: var(--orange);
    font-size: 3vh;
    text-decoration: none;
}

.trash-button{
    width: 100%;
    height: 100%;
}


.active-league{
    border-style: solid;
    border-width: 1vmin;
    border-color: var(--orange);
}

.article-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: var(--orange-gray1);
    border-radius: 3vmin;
    padding: 3vmin;
    box-sizing: border-box;
    gap: 1vh;
}

.article-div-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vmin;
    box-sizing: border-box;
}

.article-div-info-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.article-div-info-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.article-div-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 3vmin;
    box-sizing: border-box;
    background-color: var(--grey1);
    border-radius: 2vmin;
}

.article-div-lower{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 6vh;
    width: 100%;
    top: 2vh;
}

.article-div-lower-right{
    height: 100%;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    color: white;
    border-radius: 1vmin;
}
