{% extends "leagues_base.html" %}

{% block title %} Lega {% endblock %}

{% block content %}
    <div class="content-wrapper">
        <p>Manager clash</p>
        <div class="content-info">
            Modalità lega privata
        </div>
        <div class="content">
            <div class="option create">
                <a href="{{url_for('leagues.create_new_league')}}">Creare una lega</a>
            </div>
            <div class="option join">
                <a href="{{url_for('leagues.share_league', league_name = user.active_league)}}">Condividere lega attiva</a>
            </div>
        </div>
    </div>





{% endblock %}