{% extends "leagues_base.html" %}

{% block title %}Nuovo articolo{% endblock %}

{% block content %}
    <div class="main-article-div">
        <div class="content-info">
            Scrivi il tuo nome e poi selezionalo dalla lista
        </div>
        <form action="/" method="POST" class="form-container">
            <input id="nome" class="register-input" type="text" placeholder="Trova nome..." />
        </form>
    </div>
    <script>
        // Passiamo l'array di nomi da Python tramite Jinja2
        const names_array = {{ names | tojson }};

        $(function() {
        // Inizializza il campo di input con la funzionalità di autocomplete
            $("#nome").autocomplete({
                source: names_array,  // Dati da cui ottenere i suggerimenti
                minLength: 4  // Numero minimo di caratteri da scrivere per iniziare a suggerire
            });
            document.querySelector(".ui-helper-hidden-accessible").remove();

        });
  </script>
  <style>
    #nome {
        width: 100%;
        padding: 1em;
        margin: 0.5em 0;
        border: none;
        border-radius: 5px;
        background: var(--grey3);
        color: var(--white-text);
        font-size: clamp(0.9rem, 1.5vw, 1rem);
    }

    .ui-helper-hidden-accessible{
        display: none;
        width: 0px;
        height: 0px;
    }

    .ui-autocomplete{
        all: unset;
        max-height: 30vh;
        width: 100%;
        overflow: scroll;
        text-decoration: none;
        scrollbar-width: none;
    }
    .ui-autocomplete::-webkit-scrollbar {
        display: none; 
    }

    .ui-menu-item:hover{
        cursor: pointer;
    }
  </style>
{% endblock %}
