{% extends "leagues_base.html" %}

{% block title %}Nuova lega{% endblock %}

{% block content %}
    <div class="main-league-div">
        <div class="content-info">
            Crea una nuova lega
        </div>
        <form action="{{url_for('secondary.create_new_league')}}" method="POST" class="form-container">
            <input type="text" name="league-name" placeholder="Nome lega" class="register-input">
            <input type="number" name="max-managers" placeholder="Numero massimo di manager" class="register-input number">
            <p class="register-error">{{error}}</p>
            <button type="submit" class="register-button">
                <i class="fas fa-plus"></i>
                <p>Crea</p>
            </button>
            <div class="redirect-link">
                <a href="{{url_for('main.home')}}" class="redirect-link">
                    <i class="fas fa-circle-left"></i>
                    Ritorna alla homepage
                </a>
            </div>
        </form>
    </div>
{% endblock %}