{% extends "leagues_base.html" %}

{% block title %}Profilo{% endblock %}

{% block content %}
    <div class="content-wrapper profile">
        <div class="content-info">
            Modifica il tuo profilo
        </div>

        <div class="redirect-link upload-image">
            <a href="{{url_for('secondary.upload_image')}}" class="redirect-link">
                <i class="fas fa-user-circle"></i>
                Carica la tua immagine
            </a>
        </div>

        <form action="{{url_for('secondary.profile')}}" method="POST" class="form-container">
            <label for="name" class="register-label">Nome:</label>
            <input type="text" name="name" class="register-input" value="{{user.name}}">

            <label for="surname" class="register-label">Cognome:</label>
            <input type="text" name="surname" class="register-input" value="{{user.surname}}">

            <label for="nickname" class="register-label">Nickname:</label>
            <input type="text" name="nickname" class="register-input" value="{{user.nickname}}">

            <label for="email" class="register-label">Email:</label>
            <input type="text" name="email" class="register-input" value="{{user.username}}">

            <label for="theme" class="register-label">Tema chiaro (sconsigliato):</label>
            <input type="checkbox" name="theme" class="register-input checkbox" {% if light_theme %}checked{% endif %} value="True">

            <button type="submit" class="register-button">
                <i class="fas fa-user-edit"></i>
                <p>Salva</p>
            </button>

            <div class="redirect-link">
                <a href="{{url_for('main.home')}}" class="redirect-link">
                    <i class="fas fa-circle-left"></i>
                    Ritorna alla homepage
                </a>
            </div>
        </form>
    </div>
{% endblock %}