{% extends "leagues_base.html" %}

{% block title %}Condividi lega{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-info">
            Condividi lega attiva
        </div>
        <p class="share-instruction">Condividi questo link ai tuoi amici per farli unire alla tua lega</p>
        <div class="form-container">
            <div class="share-link">
                {{join_url}}
            </div>
            <div class="copy-share-link-wrapper" onclick="copy_link('{{join_url}}')">
                <i class="fa-regular fa-copy copy-share-link" title="Copia link"></i>
            </div>
            <div class="redirect-link">
                <a href="{{url_for('main.home')}}" class="redirect-link">
                    <i class="fas fa-circle-left"></i>
                    Ritorna alla homepage
                </a>
            </div>
        </div>
    </div>
{% endblock %}