<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('auth.static', filename='desktop.css')}}">
    <link rel="stylesheet" href="{{url_for('auth.static', filename='mobile.css')}}" media="(min-width: 0px) and (max-width: 400px)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{url_for('auth.static', filename='script.js')}}"></script>

    <title>{% block title %}Auth Base{% endblock %}</title>
</head>
<body>
    <main>
        {% block content %}
        <!-- Content of pages -->
        {% endblock %}
    </main>
</body>