{% extends "auth_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="main-register-div">
        <div class="register-div">
            <h2>Accedi</h2>
            <form method="POST" id="login-form" class="form-container">
                <input type="text" class="register-input" placeholder="E-mail" name="username" required>

                <div class="password-container">
                    <input type="password" id="password1" class="register-input password" placeholder="Password" name="password" required>
                    <button type="button" id="eye1" class="fas fa-eye-slash"></button>
                </div>

                <input type="submit" value="Accedi" class="register-button">
            </form>
            <p class="register-error" id="login-error-message">{{login_error_message}}</p>
            <a href="/auth/register" class="register-link">Oppure registrati</a>
        </div>
    </div>
{% endblock %}
