{% extends "auth_base.html" %}

{% block title %}Registrati{% endblock %}

{% block content %}
    <div class="main-register-div">
        <div class="register-div">
            <h2>Registrati</h2>
            <form method="POST" id="register-form" class="form-container">
                <div class="input-group">
                    <input type="text" class="register-input" placeholder="Nome" name="name" required>
                    <input type="text" class="register-input" placeholder="Cognome" name="surname" required>
                </div>
                
                <input type="email" class="register-input" id="username" placeholder="E-mail" name="username" required>
                
                <div class="input-group">
                    <input type="text" class="register-input" placeholder="Nickname" name="nickname" required>
                    <select name="society" id="society" class="register-input" required>
                        <option value="Società">Scegli società</option>
                        {% for society in societies %}
                        <option value="{{society}}">{{society}}</option>
                        {% endfor %}
                        <option value="UNKNOWN">Nessuna delle precedenti</option>
                    </select>
                </div>

                <div class="password-container">
                    <input type="password" id="password1" class="register-input password" placeholder="Password" name="password" required>
                    <button type="button" id="eye1" class="fas fa-eye-slash"></button>
                </div>
                
                <div class="password-container">
                    <input type="password" id="password2" class="register-input password" placeholder="Ripeti password" name="password2" required>
                    <button type="button" id="eye2" class="fas fa-eye-slash"></button>
                </div>
                
                <input type="submit" value="Registrati" class="register-button">
            </form>
            <p class="register-error" id="error-message"></p>
        </div>
    </div>
{% endblock %}
